<div class="footer">
  <div class="container " style=" padding: 80px 0;">
    <div class="row justify-content-center">
      <div class="logo-img">
        <img src="assets/images/logo_big_size.png" alt="Kanaan Decor">
      </div>
    </div>
    <div class="row justify-content-center">
      <p>Copyright 	&copy; 2018, Kanaan Décor, All Rights Reserved.</p>
    </div>
    <div class="row justify-content-center">
        <p>Designed by Fouad Khater. Developed by Rami Kanaan</p>
    </div>
  </div>
</div>