<div class="title">
  <h1>Contact us</h1>
</div>

<div class="contact-us-section">
  <div class="container">
    <div class="row" style="margin-top:50px">
      <div class="col-md-6">
        <div class="location">
          <h3>Our Location</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14536.368399059369!2d54.499348!3d24.3780993!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2065e83e472dc74c!2sKanaan+Decor!5e0!3m2!1sen!2slb!4v1515837775811"
            width="450px" height="300px" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Get in Touch</h3>
        <form action="">

          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="name" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1" required>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1"
                required>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="phone" placeholder="Phone Number" aria-label="Phone" aria-describedby="basic-addon1"
                required>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <i class="fa fa-weixin" aria-hidden="true"></i>
              </span>
              <textarea class="form-control" id="message" formControlName="message" rows="5" style="height:100%" placeholder="Your Message"
                required></textarea>
              <!-- <input type="text" class="form-control" id="name" formControl="name" placeholder="Name" required> -->

            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="row" style="margin-top:50px">
      <div class="col-md-6">
        <div class="informations">
          <ul class="">
            <li class="">Address: Mussafah M-14</li>
            <li class="">Telephone: +971506160512</li>
            <li class="">Fax: xxxxxxx</li>
            <li class="">PO BOX: 44874</li>
            <li class="">Email: kanaande@emirates.net.ae</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <ul>
          <li>Visit our facebook pagae on:</li>
          <li style="margin-top:5px">
            <img src="assets/images/facebook_logo_button.png" alt="">
            <span style="margin-left: 10px; vertical-align:middle">
              <a style="font-size: 22px"> facebook.com/KanaanDe </a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>