<div class="title">
  <h1>Who we are</h1>
</div>
<div class="title-section container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>Mr. Fadi Kanaan, founder of one of the UAE’s most prestigious décor companies began in 1990 in Musaffah, Abu Dhabi and
      since then has given his company a name to be a record with creating only the highest quality of joinery & woodwork
      putting KANAAN DÉCOR in a league of its own.</p>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <p>The Company Has Enlarged Its Size And Technology Using Latest Machinery In Wood Work And Joinery Under The Supervision
      Of Professionals Utilizing To Increase Production And Efficiency. Kanaan Decor Is A Modern And Highly Efficient Company.
      We Manufacture Everything From Wooden Doors, To Wardrobes And Furniture And Each Are Inspected For Perfection.</p>
  </div>

  <div class="row">
    <p>To This Day, The Company Still Manufactures And Distributes To All Corners In UAE And Arab Countries. At A Time When
      Many Manufacturers Are Struggling To Find Their Ways Through Difficult Times, Kanaan Décor Strategic Direction And
      Achievements Are Clear. Its Management Targets Are To Assure Quality, The Pursuit Of Excellence, To Serve The Customers
      And To Be In The Top Of UAE Woodwork Manufacturers.</p>
  </div>

</div>
